@model PFinal_v2.Models.Departamento

@{
    ViewData["Title"] = "Details";
}

<style>
    .rounded-form {
        border-radius: 20px; /* Define o raio de arredondamento dos cantos */
        background-color: #f2f2f2; /* Define a cor de fundo do formulário */
        padding: 20px; /* Adiciona espaçamento interno ao redor do formulário */
    }

    .rounded-button {
        border-radius: 10px; /* Define o raio de arredondamento dos cantos */
    }

    .custom-card-header {
        background-color: #f2f2f2; /* Define a cor de fundo */
    }

    .custom-filter-button {
        background-color: #3F292B;
        color: #ffffff;
        border: 1px solid #3F292B;
        border-radius: 10px;
        padding: 5px 8px;
        text-decoration: none;
        display: inline-block;
        transition: background-color 0.3s, color 0.3s;
    }

        .custom-filter-button:hover {
            background-color: #6c6c6c; /* Altera a cor de fundo ao passar o mouse */
            color: #ffffff;
        }

        .custom-filter-button:first-child {
            margin-right: 10px;
        }

    .btn-group {
        display: flex;
        justify-content: center;
    }
</style>


<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Detalhes</strong></div>
                <div class="card-body">
                    @if (Model != null)
                    {
                        <table class="table custom-table" style="margin-top: 40px;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.DepartamentoId)</td>
                                    <td>@Html.DisplayFor(model => model.Nome)</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Departamento não encontrado.</p>
                    }
                    <div class="form-group mt-3 btn-group">
                    <a asp-action="Edit" class="custom-filter-button" asp-route-id="@Model?.DepartamentoId">Editar</a>
                    <a asp-action="Index" class="custom-filter-button">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

