@model PFinal_v2.Models.Departamento

@{
    ViewData["Title"] = "Details";
}


<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Detalhes</strong></div>
                <div class="card-body">
                    @if (Model != null)
                    {
                        <table class="table custom-table" style="margin-top: 40px;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.DepartamentoId)</td>
                                    <td>@Html.DisplayFor(model => model.Nome)</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Departamento não encontrado.</p>
                    }
                    <div class="form-group mt-3 btn-group">
                    <a asp-action="Edit" class="custom-filter-button" asp-route-id="@Model?.DepartamentoId">Editar</a>
                    <a asp-action="Index" class="custom-filter-button">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

