@{
    ViewData["Title"] = "Painel do Administrador";
}

<h3 style="margin-bottom: 40px;">Olá, @User.Identity.Name!</h3>


<h5 style="margin-bottom: 40px;">Painel do administrador</h5> 

<nav>
    <ul class="card-container">
        <li class="card" style="width: 18rem; background-color: #3F292B;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;">Funcionário</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Create">Cadastrar</a></li>
                        <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Index">Listar</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="card" style="width: 18rem; background-color: #3F292B;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;">Wbs</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Wbs" asp-action="Create">Cadastrar</a></li>
                        <li><a class="dropdown-item" asp-controller="Wbs" asp-action="Index">Listar</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="card" style="width: 18rem; background-color: #3F292B;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;">Departamento</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Departamentos" asp-action="Create">Cadastrar</a></li>
                        <li><a class="dropdown-item" asp-controller="Departamentos" asp-action="Index">Listar</a></li>
                    </ul>
        <li class="card" style="width: 18rem; background-color: #3F292B;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;">Relatório</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="#" asp-action="#">Geral</a></li>
                        <li><a class="dropdown-item" asp-controller="#" asp-action="#">Individual</a></li>
                    </ul>
                </div>
            </div>
        </li>
        @* <li><a asp-controller="Account" asp-action="Logout">Logout</a></li> *@
    </ul>
</nav>
