@{
    ViewData["Title"] = "Painel do Administrador";
}

<h3 style="margin-bottom: 40px;">Olá, @User.Identity.Name!</h3>


<h5 style="margin-bottom: 40px;">Painel do Administrador</h5> 

<nav>
    <ul class="card-container">
        <li class="card" style="width: 18rem; background-color:  #A76C38; border-radius: 10px;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;"><i class="bi bi-person-workspace m-1"></i> Funcionário</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Create"><i class="bi bi-person-add m-1"></i> Cadastrar</a></li>
                        <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Index"><i class="bi bi-person-lines-fill m-1"></i> Listar</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="card" style="width: 18rem; background-color: #A76C38;border-radius: 10px;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;"><i class="bi bi-list-stars m-1"></i> WBS</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Wbs" asp-action="Create"><i class="bi bi-plus-circle m-1"></i> Cadastrar</a></li>
                        <li><a class="dropdown-item" asp-controller="Wbs" asp-action="Index"><i class="bi bi-list-ul m-1"></i> Listar</a></li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="card" style="width: 18rem; background-color: #A76C38; border-radius: 10px;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;"><i class="bi bi-building m-1"></i> Departamento</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="Departamentos" asp-action="Create"><i class="bi bi-plus-circle m-1"></i> Cadastrar</a></li>
                        <li><a class="dropdown-item" asp-controller="Departamentos" asp-action="Index"><i class="bi bi-list-ul m-1"></i> Listar</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="card" style="width: 18rem; background-color: #A76C38; border-radius: 10px;">
            <div class="card-body" style="color: white;">
                <h5 class="card-title" style="text-align: center; padding-bottom: 10px;"><i class="bi bi-receipt-cutoff m-1"></i> Relatório</h5>
                <div class="dropdown" style="text-align: center;">
                    <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Ver detalhes
                   </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="#" asp-action="#"><i class="bi bi-people m-1"></i> Geral</a></li>
                        <li><a class="dropdown-item" asp-controller="#" asp-action="#"><i class="bi bi-person m-1"></i> Individual</a></li>
                    </ul>
                </div>
            </div>
        </li>
        @* <li><a asp-controller="Account" asp-action="Logout">Logout</a></li> *@
    </ul>
</nav>
