@{
    ViewData["Title"] = "Login";
}
<style>
    .rounded-form {
        border-radius: 50px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .rounded-button {
        border-radius: 10px;
    }

    .custom-card-header {
        background-color: #f2f2f2;
    }
</style>

<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;">LOGIN</div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-envelope"></i>
                            </span>
                            <input type="text" id="username" name="username" class="form-control" placeholder="E-mail" required />
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <i class="bi bi-lock"></i>
                            </span>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required />
                            <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                                <i id="togglePasswordIcon" class="bi bi-eye"></i>
                            </button>
                        </div>
                        <br />
                        <form>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary rounded-button">Entrar</button>
                            </div>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var toggleIcon = document.getElementById("togglePasswordIcon");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("bi-eye");
            toggleIcon.classList.add("bi-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("bi-eye-slash");
            toggleIcon.classList.add("bi-eye");
        }
    }
</script>

@if (ViewBag.ErrorMessage != null)
{
    <div style="color: red;">
        @ViewBag.ErrorMessage
    </div>
}
