﻿@{
    ViewData["Title"] = "Login";
}


<style>
 .custom-bg-color {
        background-color: #A76C38;
        color: #ffffff; 
        border-color: #A76C38; 
 }
</style>

<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div style="width: 80%;">
            <div class="card rounded-form" style="background-color: transparent; border-color: transparent;">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <div style="flex: 2.5;">
                        <div class="card rounded-form" style="background-color: transparent; border-color: transparent;">
                            <div class="card-body d-flex align-items-center justify-content-center">
                                <div class="ml-2">
                                    <div style="font-size: 48px; color: #3F292B">
                                        <strong>
                                            avaccenture
                                            <span class="material-symbols-outlined" style="font-size: 1em;">
                                                done_outline
                                            </span>
                                        </strong>
                                    </div>
                                    <strong>
                                        <p style="font-size: 18px;">O sistema de cadastro de horas mais eficiente para otimizar o registro de todos os funcionários da sua empresa.</p>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="flex: 1.8; margin-left: 10px;">
                        <div class="card rounded-form">
                            <div class="card-header custom-card-header text-center font-weight-bold">
                                <i class="bi bi-person-circle" style="font-size: 3rem;"></i>
                            </div>
                            <div class="card-body">
                                <form asp-action="Login" method="post">
                                    @if (ViewBag.ErrorMessage != null)
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @ViewBag.ErrorMessage
                                        </div>
                                    }
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-envelope"></i>
                                        </span>
                                        <input type="text" id="username" name="username" class="form-control" placeholder="E-mail" required />
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock"></i>
                                        </span>
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required />
                                        <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()">
                                            <i id="togglePasswordIcon" class="bi bi-eye"></i>
                                        </button>
                                    </div>
                                    <br />
                                    <div class="text-center">
                                        <button type="submit" class="custom-filter-button rounded-button custom-bg-color">Entrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var toggleIcon = document.getElementById("togglePasswordIcon");
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.remove("bi-eye");
            toggleIcon.classList.add("bi-eye-slash");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("bi-eye-slash");
            toggleIcon.classList.add("bi-eye");
        }
    }
</script>
@if (ViewBag.ErrorMessage != null)
{
    <div style="color: red;">
        @ViewBag.ErrorMessage
    </div>
}