@{
    ViewData["Title"] = "Não Encontrada";
}



<div class="container text-right mt-5">
    <div class="row align-items-center mt-5">

        @* Coluna 1 *@
        <div class="col-md-2 bg-danger">
        </div>


        @* Coluna 2 *@
        <div class="col-md-6 bg-opacity-50 rounded p-3 mt-5">
            <div class="text-right pl-8">
                <h1 class="display-5 pl-2 text-white">404 <br /> A página acessada não foi encontrada.</h1>
            </div>
            <button class="custom-filter-button mt-4 mb-2">
                <a class="text-white" asp-controller="Dias" asp-action="Index">
                    Voltar
                </a>
            </button>
        </div>



        @*Coluna 3*@
        <div class="col-md-2 bg-opacity-75 mt-5">
        </div>

        @* Coluna 4 *@
        <div class="col-md-2 bg-danger">
        </div>



    </div>
</div>

