html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}



body {

    margin-bottom: 60px;
    background: linear-gradient(#ffa90aff);
}

.card-container {
    display: flex;
    justify-content: space-between;
    list-style: none; 
    padding: 0; 
}

.card {
    margin-right: 10px; /* espaço entre os cards */
}


.custom-table {
    background-color: #A37B73;
    border-radius: 10px;
    color: white
}

.custom-filter-button {
    background-color: #3F292B;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

 .custom-filter-button:hover {
        background-color: #798B71;
}

.custom-white-icon {
    color: #3F292B;
    font-weight: 800;
    font-size: 20px;

  margin-bottom: 60px;
}

.celula-dia.weekend {
    background-color: #f2f2f2 !important; /* Define a cor de fundo para cinza */
    color: #999; /* Define a cor do texto para cinza mais claro */
    pointer-events: none; /* Desativa eventos de mouse, tornando as células não clicáveis */
}