html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

a {
    text-decoration: none !important;
}

.disabled-link {
    pointer-events: none;
    cursor: not-allowed;
    color: gray !important;
}


body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom, #D2B48C, #BC8F8F);
}


.card-container {
    display: flex;
    justify-content: space-between;
    list-style: none; 
    padding: 0; 
}

.card {
    margin-right: 10px; /* espaço entre os cards */
}


.custom-table {
    background-color: linear-gradient(to bottom, #D2B48C, #BC8F8F);
    border-radius: 10px;
    color: black;
    /*background-color: #f2f2f2 !important;
    color: #999;
    pointer-events: none;*/
}

.custom-white-icon {
    color: #3F292B;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 60px;
}

.celula-dia {
    background-color: white !important;
}

.table td {
    background-color: white;
}

.celula-dia.weekend {
    background-color: #f2f2f2 !important; /* Define a cor de fundo para cinza */
    pointer-events: none; /* Desativa eventos de mouse, tornando as células não clicáveis */
}

.local-trabalho {
    background-color: #f2f2f2 !important;
}

    .local-trabalho a {
        text-decoration: none;
        color: inherit;
    }

.total-horas {
    background-color: #f2f2f2 !important;
    text-decoration: none !important;
}
.tabela-horas-thead {
background-color: white;
}

.horario-trabalho, .horas-excedentes {
    background-color: #F0FFFF !important;
}