

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none !important;
}

.disabled-link {
    pointer-events: none;
    cursor: not-allowed;
    color: gray !important;
}


body {
    margin-bottom: 60px;
    background: linear-gradient(to bottom, #B89E77, #F5F5DC);
}


.card-container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.card {
    margin-right: 10px; /* espaço entre os cards */
}

.rounded-form {
    border-radius: 20px; /* Define o raio de arredondamento dos cantos */
    background-color: #f2f2f2; /* Define a cor de fundo do formulário */
    padding: 20px; /* Adiciona espaçamento interno ao redor do formulário */
}

.rounded-button {
    border-radius: 10px; /* Define o raio de arredondamento dos cantos */
}

.custom-card-header {
    background-color: #f2f2f2; /* Define a cor de fundo */
}

.custom-table {
    background-color: linear-gradient(to bottom, #D2B48C, #BC8F8F);
    border-radius: 10px;
    color: black;
}

.title-ava{
    font-family: 'Hammersmith One', sans serif;
}
* {
    font-family: 'Sono', monospace;
}

.custom-table td{
    font-family: 'Segoe UI' !important;
}

/*.custom-filter-button {
    background-color: #3F292B;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}*/

.custom-filter-button {
    background-color: #A76C38;
    color: #ffffff;
    border: 1px solid #A76C38;
    border-radius: 5px;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.button-container {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
}

.delete-form {
    margin-right: 10px; /* Adiciona espaço entre o botão Excluir e o link Voltar */
}

.custom-filter-button:hover {
    background-color: #B89E77; /* Altera a cor de fundo ao passar o mouse */
    color: #ffffff;
}

.custom-filter-button {
    background-color: #A76C38;
    color: #ffffff;
    border: 1px solid #A76C38;
    border-radius: 10px;
    padding: 5px 8px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.custom-table thead th {
    background-color: #A76C38; /* Cor de fundo do cabeçalho */
    color: #ffffff; /* Cor do texto do cabeçalho */
}

.custom-table thead tr {
    border-bottom: 2px solid #A76C38; /* Cor da borda inferior */
}


.custom-search-input {
    border-radius: 5px; /* Cantos arredondados */
    padding: 5px; /* Espaçamento interno */
    border: 1px solid #f2f2f2; /* Cor da borda */
}



.custom-white-icon {
    color: #3F292B;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 60px;
}

.celula-dia {
    background-color: white !important;
    cursor: pointer;
    padding: 4px;
}

.table td {
    background-color: white;
}

.celula-dia-clicavel {
    cursor: pointer;
    user-select: text; /* Permite a seleção de texto */
    background-color: #f2f2f2 !important; /* Define a cor de fundo para cinza */
}

.celula-dia.weekend {
    background-color: #f2f2f2 !important; /* Define a cor de fundo para cinza */
    pointer-events: none; /* Desativa eventos de mouse, tornando as células não clicáveis */
}

.celula-dia:hover,
.celula-dia-clicavel:focus {
    border: 2px solid black;
}

.selecionada {
    background-color: #a39696 !important;
}


.local-trabalho {
    background-color: #f2f2f2 !important;
}

.local-trabalho a {
        text-decoration: none;
        color: inherit;
}

.total-horas {
    background-color: #f2f2f2 !important;
    text-decoration: none !important;
}

#tabela-horas {
    text-align: center;
}

    #tabela-horas th,
    #tabela-horas td {
        padding: 3px;
        word-wrap: break-word;
        line-height: 2;
        font-family: 'Segoe UI' !important;
    }

#primeira-coluna {
    text-align: right;
    white-space: nowrap;
}


.tabela-horas-thead {
    background-color: white;
}

.horario-trabalho, .horas-excedentes {
    background-color: #F0FFFF !important;
}

/*create, edit, details*/

.rounded-form {
    border-radius: 20px; /* Define o raio de arredondamento dos cantos */
    background-color: #f2f2f2; /* Define a cor de fundo do formulário */
    padding: 20px; /* Adiciona espaçamento interno ao redor do formulário */
}

.rounded-button {
    border-radius: 10px;
}

.custom-card-header {
    background-color: #f2f2f2;
}

.custom-filter-button:first-child {
    margin-right: 10px;
}

.btn-group {
    display: flex;
    justify-content: center;
}

/*password*/
.password-container {
    display: flex;
    align-items: center;
}

.toggle-password {
    cursor: pointer;
    margin-left: 10px;
}

.icons-container {
    display: flex;
}

.button-container {
    display: flex;
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center;
}