@model PFinal_v2.Models.Dia

@{
    ViewData["Title"] = "Lançamento";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Cadastrar Registro</strong></div>

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="card-body">
                    <form asp-action="Create">
                        <div class="form-group">
                            <label asp-for="WbsId" class="control-label"></label>
                            <select asp-for="WbsId" class="form-control" asp-items="ViewBag.WbsList">
                                <option value="">Selecione o código</option>
                            </select>
                            <span asp-validation-for="WbsId" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="DiaData" class="control-label"></label>
                            <input asp-for="DiaData" class="form-control" />
                            <span asp-validation-for="DiaData" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Horas" class="control-label"></label>
                            <input asp-for="Horas" class="form-control" />
                            <span asp-validation-for="Horas" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="custom-filter-button">Adicionar</button>
                            <a href="@Url.Action("Index", "Dias")" class="custom-filter-button">Voltar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}