@model PFinal_v2.Models.Dia

@{
    ViewData["Title"] = "Excluir Registro";
}

<style>
    .rounded-form {
        border-radius: 20px; /* Define o raio de arredondamento dos cantos */
        background-color: #f2f2f2; /* Define a cor de fundo do formulário */
        padding: 20px; /* Adiciona espaçamento interno ao redor do formulário */
    }

    .rounded-button {
        border-radius: 10px; /* Define o raio de arredondamento dos cantos */
    }

    .custom-card-header {
        background-color: #f2f2f2; /* Define a cor de fundo */
    }

    .button-container {
        display: flex;
        align-items: center; /* Alinha verticalmente no centro */
    }

    .delete-form {
        margin-right: 10px; /* Adiciona espaço entre o botão Excluir e o link Voltar */
    }

</style>

<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Deletar</strong></div>
                <div class="card-body">
                    @if (Model != null)
                    {
                        <table class="table custom-table" style="margin-top: 40px;">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Código de Custo</th>
                                    <th scope="col">Data</th>
                                    <th scope="col">Horas</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.DiaId)</td>
                                    <td>@Html.DisplayFor(model => model.WbsId)</td>
                                    <td>@Html.DisplayFor(model => model.DiaData)</td>
                                    <td>@Html.DisplayFor(model => model.Horas)</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Dia não encontrado.</p>
                    }
                    <td>
                        <div class="button-container">
                            <form asp-action="Delete" class="delete-form">
                                <input type="hidden" asp-for="DiaId" />
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                            <a asp-action="Index" class="custom-filter-button">Voltar</a>
                        </div>
                    </td>

                    
                </div>
            </div>
        </div>
    </div>
</div>

                  
