@model PFinal_v2.Models.Wbs

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wbs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="modal" tabindex="-1" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Atenção</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="modalMessage"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelChanges()">Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="saveChanges()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <label style="position: relative;">
                <input id="ChargeableCheckbox" class="form-check-input" asp-for="IsChargeable" type="checkbox" onclick="handleCheckboxClick();" /> @Html.DisplayNameFor(model => model.IsChargeable)
            </label>
            <script>
                function handleCheckboxClick() {
                    var checkbox = document.getElementById("ChargeableCheckbox");
                    var message = checkbox.checked ?
                        "Deseja colocar a WBS como Chargeable?" :
                        "Deseja remover a WBS como Chargeable?";
                    document.getElementById("modalMessage").textContent = message;
                    // Abre o modal quando o checkbox é clicado
                    $('#myModal').modal('show');
                }

                function saveChanges() {
                    $('#myModal').modal('hide');
                }

                function cancelChanges() {
                    document.getElementById("ChargeableCheckbox").checked = false;
                    $('#myModal').modal('hide');
                }
            </script>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="@Url.Action("Index", "Admin")" class="custom-filter-button" style="margin-bottom: 40px;">Voltar </a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
