@model PFinal_v2.Models.Wbs

@{
    ViewData["Title"] = "Detalhes";
}

<style>

  
    .table.custom-table td {
        word-wrap: break-word;
    }

</style>


<div class="container-fluid">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-lg-5.6">
            <div class="card rounded-form">
                <div class="card-header m-2 custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Detalhes</strong></div>
                <div class="card-body m-3">
                    @if (Model != null)
                    {
                        <table class="table custom-table ">
                            <thead>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Descrição</th>
                                    <th scope="col">Chargeable</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.DisplayFor(model => model.Codigo)</td>
                                    <td>@Html.DisplayFor(model => model.Descricao)</td>
                                    <td>@Html.DisplayFor(model => model.IsChargeable)</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>Wbs não encontrada.</p>
                    }
                    <div class="form-group mt-3 btn-group">
                        <a asp-action="Edit" asp-route-id="@Model?.WbsId" class="custom-filter-button">Editar</a>
                        <a asp-action="Index" class="custom-filter-button">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>