@model PFinal_v2.Models.Usuario

@{
    ViewData["Title"] = "Edit";
    SeedData.Initialize(ViewContext.HttpContext.RequestServices);
}

<style>
    .rounded-form {
        border-radius: 20px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .rounded-button {
        border-radius: 10px;
    }

    .custom-card-header {
        background-color: #f2f2f2;
    }

    .custom-select-wrapper {
        position: relative;
        display: inline-block;
    }

    .custom-select {
        width: 100%; /* Definir a largura do select para 100% */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8 10.293l5.854-5.854a1 1 0 0 1 1.415 1.415l-6 6a1 1 0 0 1-1.415 0l-6-6a1 1 0 0 1 1.415-1.415L8 10.293z"/></svg>');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 12px);
        background-position-y: 50%;
        padding-right: 32px;
        padding-left: 8px;
        cursor: pointer; /* Altera o cursor ao passar sobre o select */
    }
</style>
<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Editar</strong></div>
                <div class="card-body">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UsuarioId" />
                        <div class="form-row">
                            <div class="form-group">
                                <label asp-for="Nome" class="control-label"></label>
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-groucustom-select-wrapper">
                                <label asp-for="DepartamentoId" class="control-label"></label>
                                <select asp-for="DepartamentoId" class="form-control custom-select" asp-items="ViewBag.DepartamentoList">
                                    <option value="">Selecione o departamento</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label asp-for="DataContratacao" class="control-label"></label>
                                <input asp-for="DataContratacao" class="form-control" />
                                <span asp-validation-for="DataContratacao" class="text-danger"></span>
                            </div>
                            <div class="modal" tabindex="-1" id="myModal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Atenção</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p id="modalMessage"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelChanges()">Cancelar</button>
                                            <button type="button" class="btn btn-primary" onclick="saveChanges()">Confirmar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label style="position: relative;">
                                <input id="adminCheckbox" class="form-check-input" asp-for="IsAdmin" type="checkbox" onclick="handleCheckboxClick();" /> @Html.DisplayNameFor(model => model.IsAdmin)
                            </label>

                            <script>
                                function handleCheckboxClick() {
                                    var checkbox = document.getElementById("adminCheckbox");
                                    var message = checkbox.checked ?
                                        "Deseja adicionar o Colaborador como Administrador?" :
                                        "Deseja remover o Colaborador como Administrador?";
                                    document.getElementById("modalMessage").textContent = message;
                                    // Abre o modal quando o checkbox é clicado
                                    $('#myModal').modal('show');
                                }

                                function saveChanges() {
                                    $('#myModal').modal('hide');
                                }

                                function cancelChanges() {
                                    document.getElementById("adminCheckbox").checked = false;
                                    $('#myModal').modal('hide');
                                }
                            </script>


                            <div class="form-group">
                                <label asp-for="Senha" class="control-label"></label>
                                <input asp-for="Senha" class="form-control" />
                                <span asp-validation-for="Senha" class="text-danger"></span>
                                <div class="form-group mt-3">
                                    <input type="submit" value="Salvar" class="custom-filter-button" />
                                    <a asp-action="Index" class="custom-filter-button">Voltar</a>
                                </div>

                    </form>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
