@model PFinal_v2.Models.Usuario;
@using System.ComponentModel.DataAnnotations;

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioId" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartamentoId" class="control-label"></label>
                <select asp-for="DepartamentoId" class="form-control" asp-items="ViewBag.DepartamentoList">
                    <option value="">Selecione o departamento</option>
                </select>
                <span asp-validation-for="DepartamentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalTrabalho" class="control-label"></label>
                <select asp-for="LocalTrabalho" class="form-control">
                    @foreach (var value in Enum.GetValues(typeof(LocalTrabalhoLista)))
                    {
                        var displayAttribute = typeof(LocalTrabalhoLista).GetMember(value.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault() as DisplayAttribute;
                        var displayName = displayAttribute?.Name ?? value.ToString();
                        <option value="@value">@displayName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="DataContratacao" class="control-label"></label>
                <input asp-for="DataContratacao" class="form-control" />
                <span asp-validation-for="DataContratacao" class="text-danger"></span>
            </div>
            <div class="modal" tabindex="-1" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Atenção</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p id="modalMessage"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="cancelChanges()">Cancelar</button>
                            <button type="button" class="btn btn-primary" onclick="saveChanges()">Confirmar</button>
                        </div>
                    </div>
                </div>
            </div>

            <label style="position: relative;">
                <input id="adminCheckbox" class="form-check-input" asp-for="IsAdmin" type="checkbox" onclick="handleCheckboxClick();" /> @Html.DisplayNameFor(model => model.IsAdmin)
            </label>

            <script>
                function handleCheckboxClick() {
                    var checkbox = document.getElementById("adminCheckbox");
                    var message = checkbox.checked ?
                        "Deseja adicionar o Colaborador como Administrador?" :
                        "Deseja remover o Colaborador como Administrador?";
                    document.getElementById("modalMessage").textContent = message;
                    // Abre o modal quando o checkbox é clicado
                    $('#myModal').modal('show');
                }

                function saveChanges() {
                    $('#myModal').modal('hide');
                }

                function cancelChanges() {
                    document.getElementById("adminCheckbox").checked = false;
                    $('#myModal').modal('hide');
                }
            </script>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
