@model PFinal_v2.Models.Usuario;
@using System.ComponentModel.DataAnnotations;

@{
    ViewData["Title"] = "Local de Trabalho";
}

<h2>Editar Local de Trabalho</h2>

<form asp-action="Localizacao">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UsuarioId" />

    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="LocalTrabalho" class="control-label"></label>
            <select asp-for="LocalTrabalho" class="form-control">
                <option value="">Selecione um local</option>
                @foreach (var value in Enum.GetValues(typeof(LocalTrabalhoLista)))
                {
                    var displayAttribute = typeof(LocalTrabalhoLista).GetMember(value.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault() as DisplayAttribute;
                    var displayName = displayAttribute?.Name ?? value.ToString();
                    <option value="@value">@displayName</option>
                }
            </select>
        </div>
        <div class="col-md-6">
            <input type="submit" value="Salvar" class="btn btn-primary mt-4" />
        </div>
    </div>
</form>

<div>
    <a asp-action="Index" , asp-controller="Dias">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
