@model PFinal_v2.Models.Usuario;
@using System.ComponentModel.DataAnnotations;

@{
    ViewData["Title"] = "Local de Trabalho";
}



<form asp-action="Localizacao" method="post" class="row mb-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UsuarioId" />

    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="LocalTrabalho" class="control-label"></label>
            <select asp-for="LocalTrabalho" class="form-control">
                <option value="">Selecione um local</option>
                @foreach (var value in Enum.GetValues(typeof(LocalTrabalhoLista)))
                {
                    var displayAttribute = typeof(LocalTrabalhoLista).GetMember(value.ToString())[0].GetCustomAttributes(typeof(DisplayAttribute), false).FirstOrDefault() as DisplayAttribute;
                    var displayName = displayAttribute?.Name ?? value.ToString();
                    <option value="@value">@displayName</option>
                }
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <button type="submit" class="custom-filter-button mt-4">Salvar</button>
    </div>
</form>

<div>
    <a asp-action="Index" asp-controller="Dias" class="custom-filter-button">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
