@model PFinal_v2.Models.ViewModels.RedefinirSenhaViewModel;
@using System.ComponentModel.DataAnnotations;

@{
    ViewData["Title"] = "Redefinir Senha";
    SeedData.Initialize(ViewContext.HttpContext.RequestServices);
}

<style>

.custom-select-wrapper {
        position: relative;
        display: inline-block;
}

.custom-select {
        width: 100%; /* Definir a largura do select para 100% */
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M8 10.293l5.854-5.854a1 1 0 0 1 1.415 1.415l-6 6a1 1 0 0 1-1.415 0l-6-6a1 1 0 0 1 1.415-1.415L8 10.293z"/></svg>');
        background-repeat: no-repeat;
        background-position-x: calc(100% - 12px);
        background-position-y: 50%;
        padding-right: 32px;
        padding-left: 8px;
        cursor: pointer; /* Altera o cursor ao passar sobre o select */
}
</style>

<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Redefinir Senha</strong></div>
                <div class="card-body">

                  

<form asp-action="RedefinirSenha" method="post">
    <input type="hidden" asp-for="UsuarioId" />

    <div class="form-group">
        <label asp-for="NovaSenha" class="control-label">Nova senha</label>
        <input asp-for="NovaSenha" class="form-control" />
        <span asp-validation-for="NovaSenha" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmarSenha" class="control-label">Confirmar senha</label>
        <input asp-for="ConfirmarSenha" class="form-control" />
        <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
    </div>

    <button type="submit" class="custom-filter-button">Redefinir senha</button>
</form>

                    <hr />

                    <div class="button-container">



                        <a asp-action="DadosPessoais" asp-controller="Usuarios" class="custom-filter-button">Voltar</a>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
